<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/macafadeal/trainspotters-intl"><i class="fab fa-github"></i></a>
  </div>

  <div class="footer-contact-text">
    <p>Please direct any inquiries to the sole maintainer, at macafadeal@gmail.com. This website was made for purely educational reasons. </p>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

