.card-password {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 5px 5px 5px 5px;
}

.card-password > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-password h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-password p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-password {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-password {
  position: absolute;
  right: 16px;
  top: 20px;
  width: 40px;
}

a a:link a:hover {
  text-decoration: none !important;
  color: black !important;
}

.update-button {
  text-align: left;
  margin-left: 0% !important;
  margin-right: 0% !important;
  padding: 2.5px;
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 2px;
  width: fit-content !important;
}

.update-button:link {
  text-decoration: none;
}

.btn {
  margin-left: 0% !important;
  margin-right: 0% !important;
  text-align: unset !important;
  max-width: unset !important;
}

.form-control {
  max-width: 70%;
}
