<head>
  <title>Trainspotters Int'l | Home </title>
</head>

<br />

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upload.wikimedia.org/wikipedia/commons/7/78/Renfe_clase_100.JPG);">
  <div class="container text-center home-height">
    <h1>Welcome to Trainspotters Int'l!</h1>
    <br />
    <br />
    <p>Photo ©: dewet from London, United Kingdom, CC BY-SA 2.0, via Wikimedia Commons</p>
    <br />
    <p>This website was designed with the hobby of trainspotting in mind, where the lack of an intuitive and easy-to-use online gallery for amateur train photography is effectively unavailable with modern standards of design, graphical user interface, and simplicity.</p>
    <br />
    <p>With the above in mind, this website was started by Mateus Albuquerque, also as his final project at his Web Development Bootcamp at Le Wagon Lisbon, as an attempt to mitigate this vacuum in the world-wide-web public community offering.</p>
    <br />
    <p>At the public's disposal, one may find in this website the menus and utilities needed for managing their registration to the website, along with the possibility of adding their entries, with more features and complexity possibly to be developed further, if time permits.</p>
    <br />

  </div>
</div>

<%= render "shared/footer" %>
<%= render "devise/shared/links" %>
