.card-train {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 50px 50px 50px 50px;
}

.card-train>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-train h2 {
  font-size: 20pt;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-train h2:link,
.h2:visited,
.h2:hover,
.h2:active {
  text-decoration: none;
  color: black;
}

.card-train p {
  font-size: 15pt;
  opacity: 0.7;
  margin: 0;
  text-align: left;
}

.card-train p:link,
.p:visited,
.p:hover,
.p:active {
  text-decoration: none;
  color: black;
}

.form-control-file {
  text-align: left;
}